body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
    background-color: rgb(43, 43, 43);
}

nav img{
    margin-left: 25px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}

.dropdown-menu {
    display: none;
    transition: all 0.3s ease;
}

.progress-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 200px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
}

/* .progress-container .titulo{
    display: flex;
    justify-content: center;
}

.progress-container .titulo img{
    height: 60px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
} */

.progress{
    height: 40px;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 200px;
    background-color: rgb(73, 73, 73);
    
}

.progress-bar{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 181, 22);
    font-weight: 700;   
}

.quests{
    width: 75%;
    margin: auto;
}
.quests .icons img{
    display: flex;
    margin: auto;
    margin-top: 0;
    width: 150px;
    
 }


.quests h1{
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    
}

.quests h2{
    margin-bottom: 25px;
    margin-top: 40px;
    font-size: 25px;
    font-weight: 700;
}

.quests div{
    margin-bottom: 100px;
}



label.checked {
    text-decoration: line-through;
    opacity: 0.5;
    color: gray;
}